<h1>Bienvenido al grupo de inversionistasa Corpaya</h1>
<h2>Ahora eres parte del cambio verde</h2>
<p>Con tu suenta podras comprar acciones, ver el estado de tus inversiones y rendimiento</p>
<p>Para poder ingresar con tu usuario por favor verifica tu cuenta dando click en el siguiente enlace {{url}}</p>
<p>Si no puedes ver el enlace, copialo y pegalo en una nueva ventana del navegador {{url}}</p>
<a href="{{url}}{{token}}">Link 2</a>